a {
  color: #9670f4;
}

.App {
  background-image: url("./papers.jpg");
  padding: 10px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  font-size: 30px;
}

.App-footer {
  background: #ffffff;
  padding: 30px;
  border-radius: 8x;
  box-shadow: 0x 10px 20px rgb(0 0 0 / 10%);
  margin: 20px auto;
  max-width: 700px;
  font-family: monospace;
}
